/ProgramacionServiciosProcesos/build/
/RepasoExamenProcesos/nbproject/private/
/RepasoExamenProcesos/build/
/2-2-ProgramacionServiciosProcesos/nbproject/private/
/2-2-ProgramacionServiciosProcesos/build/
/Hibernate/dist/
/2-3-Hibernate-PersonaSingle/nbproject/private/
/2-3-Hibernate-PersonaSingle/build/
